.book-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.book-container > div {
  display: flex;
  max-width: 500px;
}

.book-cover {
  margin-right: 10px;
}

.book-details {
  margin-left: 10px;
}
